<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styles.css' %}" />
    <title>eBook APP - {% block title %}Welcome!{% endblock %}</title>
</head>

<body>
    <div>
        <h1>{% block myhdg %}Hello {% if user.is_authenticated %}{{ user.username }}{% else %}User{% endif %}{% endblock %}</h1>
        {% block body_block %}***{% endblock %}
    </div>
    <hr />
    <div>
        <ul>
            <li class="hbar1"><a href="{% url 'myapp:about' %}">Find out about this site</a></li>
            <li class="hbar1"><a href="{% url 'myapp:index' %}">Click here to return to main page</a></li>
        </ul>
    </div>
</body>
</html>
